#################################
# PostgreSQL
#################################

POSTGRES_DB=agendoc
POSTGRES_USER=agendoc
POSTGRES_PASSWORD=agendoc

#################################
# Spring
#################################

SPRING_PROFILES_ACTIVE=local

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/agendoc
SPRING_DATASOURCE_USERNAME=jc.castro
SPRING_DATASOURCE_PASSWORD=

#################################
# Logging
#################################

LOG_LEVEL=INFO
APP_LOG_LEVEL=DEBUG
SECURITY_LOG_LEVEL=INFO

#################################
# Server
#################################

SERVER_PORT=8081